@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello I'm Denis and this is my first web app</h1>
    <h2>You can click on the category tab, so you can add caregories and display orders!</h2>
    <a href="https://www.facebook.com/denis.nedkov.3" target="_blank"><button class="btn btn-primary mx-2">Facebook</button></a>
    <a href="https://www.instagram.com/denis.ts384/" target="_blank"><button class="btn btn-primary mx-2">Instagram</button></a>
    <a href="https://twitter.com/denis049839207" target="_blank"><button class="btn btn-primary mx-2">Twitter</button></a>
    <br /><br /><br />
    <img src="https://img.freepik.com/free-vector/application-programming-interface-concept-illustration_114360-9145.jpg" />
</div>
